// Colors
$hover-color: #e5e5e5;

$colors: (
  home: #d3cc9a,
  "who-we-are": #f4a261,
  "next-read": #bdaaf5,
  "prev-reads": #a4b256,
  "join-club": #fbc597,
  "find-book": #b9b1ff
);

@mixin flex-container($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/* Navbar styles */
.nav-container {
  width: 80%;
  margin: 0 auto;
}

.nav-btn {
  flex: 1;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-family: "Arial", sans-serif;
  border-radius: 50px;
  border: 1px solid black;
  margin: 0 20px;
  padding: 10px 20px;

  &:hover {
    background-color: $hover-color;
  }
}

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
  }
}

/* End Navbar styles */

.book-image {
  flex: 1;
  @include flex-container;
  max-width: 40%;

  img {
    max-width: 100%;
    max-height: 500px;
    object-fit: contain;
    height: auto;
    width: auto;
  }
}

.book-details {
    flex: 1;
    @include flex-container(column, flex-start, center);
    text-align: center;
    margin-top: 0;
}

.book-section {
  .container {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;
  }
}

footer {
  p {
    color: #39432A;
  }
}

p {
  font-size: 18px;
}