
/* Nav bar styles */
.nav-container {
    width: 80%;
    margin: 0 auto;
}

.nav-btn {
    flex: 1;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Arial', sans-serif;
    border-radius: 50px;
    border: 1px solid black;
    margin: 0 20px;
    padding: 10px 20px;
}

.home {
    background-color: #d3cc9a;
}

.who-we-are {
    background-color: #f4a261;
}

.next-read {
    background-color: #bdaaf5;
}

.prev-reads {
    background-color: #a4b256;
}

.nav-btn:hover {
    background-color: #e5e5e5;
}

/* End Nav bar styles */